In [100]:
import pandas as pd

In [114]:
def count_top3(date):
    df_res = pd.DataFrame()
    for dt in date:
        name = 'names\yob' + str(dt) +'.txt'
        df = pd.read_csv(name, names = ['Name', 'Gender', 'Counts'])
#        df['Year'] = dt
        if df_res.empty:
            df_mid = df
            df_res = df
        else:
            df_res = pd.concat([df_mid, df])
    return df_res.groupby(['Name']).sum().sort_values('Counts', ascending = False)[:3]

In [115]:
res = count_top3([2000, 1950, 1900])
res

         Counts
Name
Jacob     34763
Michael   32644
John      29994

In [120]:
def count_dynamics(date):
    df_res = pd.DataFrame()
    for dt in date:
        name = 'names\yob' + str(dt) +'.txt'
        df = pd.read_csv(name, names = ['Name', 'Gender', 'Counts'])
        df['Year'] = dt
        if df_res.empty:
            df_mid = df
            df_res = df
        else:
            df_res = pd.concat([df_mid, df])
    return df_res.groupby(['Gender', 'Year']).sum()

In [124]:
res = count_dynamics([1900, 1901])
res

             Counts
Gender Year
F      1900  299800
       1901  239345
M      1900  150483
       1901  106469